
body{
background: #90ee90;
padding: 0;
margin: 0;
line-height:1.4;
font-family:Arial, sans-serif;
font-size:0.9em;
width: auto;
height: auto;
 }

#wrapper{
    width: 1080px;
    height: auto;
    margin: 0 auto;
}

#header{
    width: auto;
    height: auto;
    background-color:#32cd32;
}

#nav{
    width: 600px;
    margin: 0 auto;
}

ul{
    margin-left: 125px;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0 30px 0;
    color: white;
}


#header{
}

#content{
    width: 600px;
    height: auto;
    background: #fffff0;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
}

#form{
    margin-left: 175px;
    height: auto;
}

#button{
    margin: 10px 75px 10px;
}

#footer{

}
